.pagination {
  margin-top: 20px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  flex-wrap: wrap;

  gap: 20px;
}

.pagination-left,
.pagination-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination select {
  padding: 8px;
}

.pagination button {
  padding: 8px 16px;

  border: none;

  background: #1976d2;

  color: white;

  border-radius: 6px;

  cursor: pointer;
}

.pagination button:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}